<div class="content-container">
  <div class="user-banner">
    <img src="{{ image }}" alt="" />
    <h2>{{ fullName }}</h2>
    <span>{{ role }}</span>
    <span>{{ idNumber }}</span>
  </div>
  <div class="aux-banner">
    <img src="assets/svg/calendar.svg" alt="" />
    <h2>Joined Date</h2>
    <span>{{ joinedDate }}</span>
  </div>
  <div class="aux-banner">
    <img src="assets/svg/location.svg" alt="" />
    <h2>Location</h2>
    <span>{{ location }}</span>
  </div>
  <div class="aux-banner">
    <img src="assets/svg/phone.svg" alt="" />
    <h2>Contact Number</h2>
    <span>{{ phoneNumber }}</span>
  </div>
</div>
