<div class="content-container">
  <h1>Personnel Record Management System</h1>
  <h2>Information</h2>
  <p>
    Personnel Record Management Information System (PRMIS) is a database that
    maintains and stores confidential and critical information of Batangas State
    University employees across all campuses. Personnel records contain full
    information about all employees, such as name, date of birth, marital
    status, academic qualifications, professional qualifications, previous
    employment details, and so on. This saves a lot of time during the hiring
    process and allows for the uploading of details about the user without fear
    of unauthorized disclosure.
  </p>
  <h2>Team</h2>
  <div class="team-container">
    <div class="team-member">
      <img src="assets/svg/profile.svg" alt="" />
      <div class="team-member-name">Angelo Jener Santiago</div>
      <div class="team-member-role">Project Manager</div>
    </div>
    <div class="team-member">
      <img src="assets/svg/profile.svg" alt="" />
      <div class="team-member-name">Kyle Andrei Bagos</div>
      <div class="team-member-role">Programmer</div>
    </div>
    <div class="team-member">
      <img src="assets/svg/profile.svg" alt="" />
      <div class="team-member-name">Lloyd Jerome Hombre</div>
      <div class="team-member-role">Programmer</div>
    </div>
    <div class="team-member">
      <img src="assets/svg/profile.svg" alt="" />
      <div class="team-member-name">Mikaela Maac</div>
      <div class="team-member-role">Designer</div>
    </div>
    <div class="team-member">
      <img src="assets/svg/profile.svg" alt="" />
      <div class="team-member-name">Rommel Gutierrez</div>
      <div class="team-member-role">Analyst</div>
    </div>
    <div class="team-member">
      <img src="assets/svg/profile.svg" alt="" />
      <div class="team-member-name">Marienne Isabelle Lugatic</div>
      <div class="team-member-role">Documentation</div>
    </div>
  </div>
  <h2>Campuses</h2>
  <p>
    BatStateU Pablo Borbon: Rizal Ave.,Batangas City
    <br /><br />
    BatStateU Alangilan: Golden Country Homes Subdivision, Alangilan, Batangas
    City
    <br /><br />
    BatStateU Nasugbu: R. Martinez St., Brgy. Bucana, Nasugbu, Batangas
    <br /><br />
    BatStateU Balayan: Brgy. Caloocan, Balayan, Batangas
    <br /><br />
    BatStateU Lemery: Rajah Matanda St., Brgy. Bagong Sikat, Lemery, Batangas
    <br /><br />
    BatStateU Mabini: Sitio Mailayin, Brgy. P. Niogan, Mabini, Batangas
    <br /><br />
    BatStateU Malvar: G. Leviste St., Poblacion, Malvar, Batangas
    <br /><br />
    BatStateU Lipa City: Marawoy, Lipa City, Batangas
    <br /><br />
    BatStateU Rosario: Brgy. Namunga, Rosario, Batangas
    <br /><br />
    BatStateU San Juan: Talahiban II, San Juan, Batangas
    <br /><br />
    BatStateU Lobo: Brgy. Masaguisit, Lobo, Batangas
  </p>
</div>
